.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid #e1003c;
}

.App-header img {
  height: 200px;
  margin-right: 20px;
}

.App-header h1 {
  color: #e1003c;
}

.App-body {
  padding: 40px;
  font-size: 1.2rem;
}

.App-footer {
  border-top: 3px solid #e1003c;
  padding: 20px;
  text-align: center;
}

